/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
pre
  overflow-x auto
  overflow-y hidden
  background rgba(176,180,207,0.175)
  padding .6rem
